<h1>Stupid Coaching</h1>
<div class="my-question">
  <p><%= @question %></p>
  <p>-You</p>
</div>

<div class="coach-ans">
  <p><%= @answer %></p>
  <p>-Your Coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>