<style>
  div {border-left: 5px solid black; padding-left: 8px;}
</style>
<h1>Stupid Coaching</h1>
<div>
  <p><%= @question %></p>
  <p>-You</p>
</div>

<div>
  <p><%= @answer %></p>
  <p>-Your Coach</p>
</div>